<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="__LIBRARIES__/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__LIBRARIES__/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="__CSS__/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    {include file="index@header_person" /}    

    <div class="main-container">
        {include file="index@left_person" /}

        <div class="content">
                        <div class="container-fluid">
                <div class="row">

                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header bg-light">
                                个人账户设置
                            </div>

                            <div class="card-body">

                                <div class="row mb-5">
                                    <div class="col-md-4 mb-4">
                                        <div>基本资料</div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">机构全称：</label>
                                                    <input class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">密码：</label>
                                                    <input class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">联系邮箱：</label>
                                                    <input class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">联系人姓名：</label>
                                                    <input class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">联系人联系方式：</label>
                                                    <input class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">联系人性别：</label>
                                                    <input type="radio" value="男" name="sex">男
                                                    <input type="radio" value="女" name="sex">女
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">机构地址：</label>
                                                    <select name="" >
                                                        <option value="">省</option>
                                                    </select>
                                                    <select name="" >
                                                        <option value="">市</option>
                                                    </select>
                                                    <select name="" >
                                                        <option value="">区</option>
                                                    </select>
                                                    <label class="form-control-label">详细地址：</label>
                                                    <input class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div style="width:200px;margin-top:10px;">
                                            <button type="submit" class="btn btn-primary">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__LIBRARIES__/jquery/jquery.min.js"></script>
<script src="__LIBRARIES__/popper.js/popper.min.js"></script>
<script src="__LIBRARIES__/bootstrap/js/bootstrap.min.js"></script>
<script src="__LIBRARIES__/chart.js/chart.min.js"></script>
<script src="__JS__/carbon.js"></script>
<script src="__JS__/demo.js"></script>
</body>
</html>
