<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">

    <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="__IMG__/favicon.png" type="image/png">
    <link rel="stylesheet" href="__CSS__/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="__LIBRARIES__/chosen/chosen.css" type="text/css">
    <link rel="stylesheet" href="__LIBRARIES__/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css">
    <link rel="stylesheet" href="__LIBRARIES__/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/realia-blue.css" type="text/css" id="color-variant-default">
    <link rel="stylesheet" href="#" type="text/css" id="color-variant">

    <title>所有订单</title>
</head>
<body>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            <!-- BREADCRUMB -->
            
            {include file="index@header" /}

            <!-- CONTENT -->
            <div id="content">
<div class="container" style="width: 1000px;">

    <div id="main">
        <div class="row">
            <div class="span9" style="width: 100%;">
                <div><h1 class="page-header">所有订单</h1></div>
              <div class="properties-rows" style="width: 100%;">
    <div class="row" style="width: 100%;">
        <div class="property span9" style="width: 100%;">
            <div class="row">
                <div class="body span6" style="width:100%;">
                    <div class="title-price row" style="margin:auto 0;" >
                        <table style="width:95%;text-align: center;margin-left: 10px;">
                            <thead>
                                <tr style="font-size: 15px;border-bottom: 1px grey solid;line-height: 50px;">
                                    <td colspan="2">商品信息</td>
                                    <td>单价</td>
                                    <td>数量</td>
                                    <td>合计</td>
                                    <td>状态</td>
                                    <td>操作</td>
                                </tr>
                                <tr style="text-align:left;background-color: lightgray;">
                                    <th style="width: 205px;">2019/02/28</th>
                                    <th style="width: 300px;">订单号：2018022806060600001</th>
                                    <th>商家名</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>删除</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 15px;border:1px solid lightgray;">
                                <tr height="100">
                                    <td>
                                        
                                    <div class="image span3" style="width:auto;">
                                        <div class="content" style="text-align: left;">
                                            <a href="../maint/goods_detail.html"></a>
                                            <img src="__IMG__/tmp/property-small-1.png" width="200" alt="">
                                        </div><!-- /.content -->
                                    </div><!-- /.image -->
                                    </td>
                                    <td>洗衣液</td>
                                    <td><b>￥100</b></td>
                                    <td>1</td>
                                    <td><font color="red">￥100</font></td>
                                    <td><a href="">待付款</a></td>
                                    <td><a href="">删除</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.title -->
                </div><!-- /.body -->
            </div><!-- /.property -->
        </div><!-- /.row -->
    </div><!-- /.row -->
</div><!-- /.properties-rows -->
                <div class="pagination pagination-centered">
    <ul>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li class="active"><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">next</a></li>
        <li><a href="#">last</a></li>
    </ul>
</div><!-- /.pagination -->            </div>
        </div>
    </div>
</div>

    </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

{include file="index@footer" /}<!-- /#footer-wrapper -->
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->

<div class="palette">
    <div class="toggle">
        <a href="#">Toggle</a>
    </div><!-- /.toggle -->

    <div class="inner">
        <div class="headers">
            <h2>Header styles</h2>
            <ul>
                <li><a class="header-light">Light</a></li>
                <li><a class="header-normal">Normal</a></li>
                <li><a class="header-dark">Dark</a></li>
            </ul>
        </div><!-- /.headers -->
    </div><!-- /.inner -->
</div><!-- /.palette -->

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery.ezmark.js"></script>
<script type="text/javascript" src="__JS__/jquery.currency.js"></script>
<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
<script type="text/javascript" src="__JS__/retina.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/carousel.js"></script>
<script type="text/javascript" src="__JS__/gmap3.min.js"></script>
<script type="text/javascript" src="__JS__/gmap3.infobox.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/iosslider/_src/jquery.iosslider.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="__JS__/realia.js"></script>
</body>
</html>