<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aviators - byaviators.com">

    <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="__IMG__/favicon.png" type="image/png">
    <link rel="stylesheet" href="__CSS__/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="__LIBRARIES__/chosen/chosen.css" type="text/css">
    <link rel="stylesheet" href="__LIBRARIES__/bootstrap-fileupload/bootstrap-fileupload.css" type="text/css">
    <link rel="stylesheet" href="__LIBRARIES__/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.min.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/realia-blue.css" type="text/css" id="color-variant-default">
    <link rel="stylesheet" href="#" type="text/css" id="color-variant">

    <title>Green Station</title>
    <style type="text/css">
.line-limit-length {

width:150px;/*要显示文字的宽度*/
overflow:hidden; /*超出的部分隐藏起来。*/ 
white-space:nowrap;/*不显示的地方用省略号...代替*/
text-overflow:ellipsis;/* 支持 IE */

}
    </style>
</head>
<body>
<div id="wrapper-outer" >
    <div id="wrapper">
        <div id="wrapper-inner">
            <!-- BREADCRUMB -->
            {include file="index@header" /}
            <!-- CONTENT -->
            <div id="content"><div class="map-wrapper">
    <div class="map">
        <div id="map" class="map-inner"></div><!-- /.map-inner -->

        <div class="container">
            <div class="row">
                <div class="span3">
                    
                </div><!-- /.span3 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.map -->
</div><!-- /.map-wrapper -->
<div class="container">
    <div id="main">
        <div class="row">
            <div class="span9">
                <h1 class="page-header" title="政府发布">热点精选——<a href="news.html" title="">更多</a></h1>
                <div class="properties-grid">
    <div class="row">

    {foreach name="article" item="data1"}

        <div class="property span3">
            <div class="image">
                <div class="content">
                <a href="{:Url('index/maint/news_detail',['id' => $data1['article_id']])}"></a>
                
                    <img src="__PIC__{$data1['article_pic_url']}" style="height: 250px;" alt="">
                </div><!-- /.content -->

                <div class="price">{$data1['article_class_name']} </div><!-- /.price -->

            </div><!-- /.image -->

            <div class="title">
                <h2>  <a href="{:Url('index/maint/news_detail',['id' => $data1['article_id']])}">{$data1['article_name']}</a></h2>
            </div><!-- /.title -->

            <div class="location">{$data1['article_content']|mb_substr=0,20,'utf-8'}……</div><!-- /.location -->
            <div class="bedrooms" title="浏览量"><div class="content">{$data1['article_click']}</div></div><!-- /.bedrooms -->

        </div><!-- /.property -->

    {/foreach}
    </div><!-- /.row -->

</div><!-- /.properties-grid -->
            </div>
            <div class="sidebar span3">
                <div class="widget our-agents">
    <div class="title">
        <h2>联系我们</h2>
    </div><!-- /.title -->

    <div class="content">
        <div class="agent">
            <div class="image">
                <img src="__IMG__/photos/ori-small.jpg" alt="">
            </div><!-- /.image -->
            <div class="name">Ori</div><!-- /.name -->
            <div class="phone">333-666-777</div><!-- /.phone -->
            <div class="email"><a href="#">@163.com</a></div><!-- /.email -->
        </div><!-- /.agent -->

        <div class="agent">
            <div class="image">
                <img src="__IMG__/photos/rob-small.jpg" alt="">
            </div><!-- /.image -->
            <div class="name">Rob</div><!-- /.name -->
            <div class="phone">111-222-333</div><!-- /.phone -->
            <div class="email"><a href="">@163.com</a></div><!-- /.email -->
        </div><!-- /.agent -->
    </div><!-- /.content -->
</div><!-- /.our-agents -->
                <div class="hidden-tablet">
                    <div class="widget our-agents">
    <div class="title">
        <h2>最新商品——<a href="goods.html" title="">更多</a></h2>
    </div><!-- /.title -->

    <div class="content">

    {foreach name="article1" item="data1"}
        <div class="agent">
            <div class="image">
                <a href="{:Url('index/maint/goods_detail',['id' => $data1['product_id']])}"></a>
                <img src=__PIC__{$data1['product_pic_url']}  style="width: 800px; height: 50px;" alt="">
            </div><!-- /.image -->

            <div class="name">{$data1['product_name']}</div><!-- /.name -->
            <div class="phone"></div><!-- /.phone销量： -->
            <div class="email" ><font color="red">{$data1['product_price']}</font></div><!-- /.email -->
        </div><!-- /.property -->
    {/foreach}

    </div><!-- /.content -->
</div><!-- /.properties -->
                </div>
            </div>
        </div>
        <div class="carousel">
    <h2 class="page-header">热门商品——<a href="goods.html" title="">更多</a></h2>

    <div class="content">
        <a class="carousel-prev" >Previous</a>
        <a class="carousel-next" >Next</a>
        <ul>
            {foreach name="article1" item="data1"}
            <li>
                <div class="image">
                    <a href="{:Url('index/maint/goods_detail',['id' => $data1['product_id']])}"></a>
                    <img src=__PIC__{$data1['product_pic_url']} style="height: 220px;width: 220px;" alt="">
                </div><!-- /.image -->
                <div class="title">
                    <h3><a href="{:Url('index/maint/goods_detail',['id' => $data1['product_id']])}">{$data1['product_name']}</a></h3>
                </div><!-- /.title -->
                <div class="location"></div><!-- /.location-->
                <div class="price">价格（￥/积分）</div><!-- .price -->
                <div class="area">
                    <span class="key">积分:</span>
                    <span class="value"><font color="red">{$data1['product_price']}</font></span>
                </div><!-- /.area -->
                <div class="bathrooms"><div class="inner">2</div></div><!-- /.bathrooms -->
            </li>
    {/foreach}
        </ul>
    </div><!-- /.content -->
</div><!-- /.carousel -->            
</div>
</div>

   </div><!-- /#content -->
</div><!-- /#wrapper-inner -->

{include file="index@footer" /}<!-- /#footer-wrapper -->
</div><!-- /#wrapper -->
</div><!-- /#wrapper-outer -->

<div class="palette">
    <div class="toggle">
        <a href="#">Toggle</a>
    </div><!-- /.toggle -->
    <div class="inner">
        <div class="headers">
            <h2>Header styles</h2>
            <ul>
                <li><a class="header-light">Light</a></li>
                <li><a class="header-normal">Normal</a></li>
                <li><a class="header-dark">Dark</a></li>
            </ul>
        </div><!-- /.headers -->
    </div><!-- /.inner -->
</div><!-- /.palette -->


<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/jquery.ezmark.js"></script>
<script type="text/javascript" src="__JS__/jquery.currency.js"></script>
<script type="text/javascript" src="__JS__/jquery.cookie.js"></script>
<script type="text/javascript" src="__JS__/retina.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/carousel.js"></script>
<script type="text/javascript" src="__JS__/gmap3.min.js"></script>
<script type="text/javascript" src="__JS__/gmap3.infobox.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/iosslider/_src/jquery.iosslider.min.js"></script>
<script type="text/javascript" src="__LIBRARIES__/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script type="text/javascript" src="__JS__/realia.js"></script>
</body>
</html>