<div class="row">
                <div class="col-md-6" style="flex:0 0 100%;max-width: 100%;">
                    <div class="card">
                        <div class="card-header bg-light" style="">
                            所有订单
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" >
                                    <thead>
                                    <tr>
                                        <td >垃圾桶ID</td>
                                        <td>投放垃圾时间</td>
                                        <td>投放垃圾重量</td>
                                        <td>地区</td>
                                        <td>反馈信息</td>
                                    </tr>
                                       {foreach name="drop" item="data1"}
                                    <tr style="text-align:center">
                                        <th style="width: 205px;">{$data1['bin_id']}</th>
                                        <th style="width: 300px;">{$data1['drop_litter_time']}</th>
                                        <th>{$data1['drop_litter_weight']}</th>
                                        <th>{$data1['drop_litter_region']}</th>
                                        <th>{$data1['drop_litter_remark']}</th>
                                    </tr>
                                    </thead>
                                    {/foreach}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>