<nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="">
            <img src="__IMG__/logo.png" alt="logo">
            <span class="small ml-1 d-md-down-none">Green Station</span>
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                     {if condition="($Request.session.type=='普通用户')"}
                    <img src="__PIC__{$url['user_touxiang']}" class="avatar avatar-sm" alt="logo">
        {/if}

                    <span class="small ml-1 d-md-down-none">{$Request.session.username}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">

                    <a href="{:Url('index/login/logout')}" class="dropdown-item">
                        <i class="fa fa-lock"></i> 退出登录
                    </a>
                </div>
            </li>
        </ul>
    </nav>