<div class="sidebar">
    <nav class="sidebar-nav">
     {if condition="($Request.session.type=='政府')"}
                <ul class="nav">
                    <li class="nav-title">账户管理</li>
                    <li class="nav-item">
                        <a href="{:Url('index/otheruser/goverment')}" class="nav-link active">
                            <i class="icon icon-speedometer"></i>机构资料
                        </a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-title">信息统计</li>
                            <li class="nav-item">
                                <a href="{:url('index/Otheruser/goverment_chart')}" class="nav-link">
                                    <i class="icon icon-puzzle"></i> 投放回收信息统计
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{:url('index/Otheruser/goverment_chart1')}" class="nav-link">
                                    <i class="icon icon-puzzle"></i> 投放回收信息统计
                                </a>
                            </li>
                        </ul>

{elseif condition="($Request.session.type=='公司')"}
                <ul class="nav">
                    <li class="nav-title">账户管理</li>

                    <li class="nav-item">
                        <a href="{:Url('index/otheruser/company')}" class="nav-link">
                            <i class="icon icon-grid"></i> 机构资料
                        </a>
                    </li>
                </ul>
{else/}
                <ul class="nav">
                    <li class="nav-item">
                        <a href="{:Url('index/index/index')}" class="nav-link active">
                            <i class="icon icon-speedometer"></i> 回到首页
                        </a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-title">账户管理</li>
                    <li class="nav-item">
                        <a href="{:Url('index/index/person',['id'=>32])}" class="nav-link">
                            <i class="icon icon-grid"></i> 个人资料
                        </a>
                    </li>
                    <li class="nav-title">业务信息管理</li>

                    <li class="nav-item">
                        <a href="{:Url('index/index/person',['id'=>34])}" class="nav-link">
                            <i class="icon icon-target"></i> 购物车 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{:Url('index/index/person',['id'=>35])}" class="nav-link">
                            <i class="icon icon-target"></i> 商品交易订单 
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{:Url('index/index/person',['id'=>36])}" class="nav-link">
                            <i class="icon icon-target"></i> 投放记录 
                        </a>
                    </li>

                </ul>
        {/if}



            </nav>
        
        </div>