<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改商品信息</title>
    <link rel="stylesheet" href="__LIBRARIES__/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__LIBRARIES__/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="__CSS__/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    {include file="admin@header" /}    

    <div class="main-container">
        {include file="admin@left" /}

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header bg-light">
                                修改商品信息
                            </div>
<form method="post"  enctype="multipart/form-data" action="{:Url('admin/goods/goods_updatecheck')}">
                            <div class="card-body">
                                <div class="row mb-5">
                                    
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">商品名称：</label>
                                                    <input class="form-control" value=" {$product['product_name']}" name="productname">



                                        <input type="hidden"   name="id" value="{$product['product_id']}">
                                                </div>
                                            </div>
                                        </div>

                                


                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                       新闻封面：<input type="file" name="image_url" /> <br><br>
                                        <img src="__PIC__{$productpic['product_pic_url']}" class="img" width="300">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label"></label>
                                                    <img src="">
                                                </div>
                                            </div>
                                        </div>






                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">一级分类：</label>

<select name="type1" size="1" id="type" style="width: 100px;">
     {foreach name='productclass' item='v'}

     {if condition="($v['product_class_id']==$product['one_class_id'])"}

         <option value="{$v['product_class_id']}" selected>{$v.product_class_name}</option>
         {else/}
 <option value="{$v['product_class_id']}" >{$v.product_class_name}</option>
        {/if}
     {/foreach}
 </select>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">二级分类：</label>

 <select name="lables" size="1" id="lables" style="width: 100px;">

     {foreach name='littetwo' item='v'}

     {if condition="($v['product_class_id']==$product['two_class_id'])"}

         <option value="{$v['product_class_id']}" selected>{$v.product_class_name}</option>
         {else/}
 <option value="{$v['product_class_id']}" >{$v.product_class_name}</option>
        {/if}
     {/foreach}
 </select>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">商品价格：</label>
                                                    <input class="form-control" value=" {$product['product_price']}" name="productprice">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">商品详情：</label>
                                 <script id="container" name="content" type="text/plain">
{$product['product_infor']}
                                </script>    
                                                </div>
                                            </div>
                                        </div>

                                        <div style="width:200px;margin-top:10px;">
                                            <button type="submit" class="btn btn-primary">保存</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__LIBRARIES__/jquery/jquery.min.js"></script>
<script src="__LIBRARIES__/popper.js/popper.min.js"></script>
<script src="__LIBRARIES__/bootstrap/js/bootstrap.min.js"></script>
<script src="__LIBRARIES__/chart.js/chart.min.js"></script>
<script src="__JS__/carbon.js"></script>
<script src="__JS__/demo.js"></script>
<script src="__ueditor__/ueditor.config.js"></script>
<script src="__ueditor__/ueditor.all.js"></script>
<script type="text/javascript">
   var editor = UE.getEditor('container');

  $('#type').click(function(){
            $(this).change(function(){
                var objectModel = {};
                var   value = $(this).val();
           //     alert(value);
               var   type = $(this).attr('id');
              // alert(type);
              //  objectModel[type] =value;
                $.ajax({
              //      cache:false,
                    type:"POST",
                    url:'goods_add',
                    dataType:"json",
                    data:{"value":value
                    },
                    timeout:30000,
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    },
                    success:function(data)
                    {
                        //alert('12');
                    //  alert(data[0]);
                    //
                    //  alert(data[1]);
                        $("#lables").empty();
                        var count = data.length;
                        var i = 0;
                        var b="";
                           for(i=0;i<count;i++)
                           {
                               b+="<option value="+data[i].product_class_id+">"+data[i].product_class_name+"</option>";
                           }
                        $("#lables").append(b);

                         
                    }
                });
               });
        }
    );
    $("input[name='image_url']").change(function(){
        $(".img").attr("src",URL.createObjectURL($(this)[0].files[0]));
    });
</script>
</body>
</html>
