<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户信息管理</title>
    <link rel="stylesheet" href="__LIBRARIES__/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="__LIBRARIES__/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="__CSS__/styles.css">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    {include file="admin@header" /}    

    <div class="main-container">
        {include file="admin@left" /}

        <div class="content">
            <div class="row">
                <div class="col-md-6" style="flex:0 0 100%;max-width: 100%;">
                    <div class="card">
                        <div class="card-header bg-light" style="">
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>密码</th>
                                        <th>真实姓名</th>
                                        <th>性别</th>
                                        <th>生日</th>
                                        <th>手机号</th>
                                        <th>邮箱</th>
                                        <th>地址</th>
                                        <th>积分</th>
                                        <th>余额</th>

                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach name="user" item="data1"}
                                    <tr>
                                        <td>{$data1['user_id']}</td>
                                        <td><a href=#>{$data1['user_name']}</a></td>
                                        <td class="text-nowrap">{$data1['user_pswd']}</td>
                                        <td>{$data1['user_truename']}</td>
                                        <td>{$data1['user_sex']}</td>
                                        <td>{$data1['user_birth']}</td>
                                        <td>{$data1['user_tel']}</td>
                                        <td>{$data1['user_email']}</td>
                                        <td>{$data1['user_address']}</td>
                                        <td>{$data1['user_point']}</td>
                                        <td>{$data1['user_money']}</td>

                                        <td>
{if condition="($data1['user_status']==1)"}
                           <a  class="btn btn-outline-info"  href="{:Url('admin/user/dongjie',['id' => $data1['user_id']])}" >冻结</a>
{else/}
                           <a  class="btn btn-outline-info"  href="{:Url('admin/user/jiedong',['id' => $data1['user_id']])}" >解冻</a>
        {/if}


                                        </td>
                                    </tr>
                                     {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__LIBRARIES__/jquery/jquery.min.js"></script>
<script src="__LIBRARIES__/popper.js/popper.min.js"></script>
<script src="__LIBRARIES__/bootstrap/js/bootstrap.min.js"></script>
<script src="__LIBRARIES__/chart.js/chart.min.js"></script>
<script src="__JS__/carbon.js"></script>
<script src="__JS__/demo.js"></script>
<script language="javascript">

function playSec(num)
{
    var var_name="{:session('adminname')}";
    if(var_name=='')
    {
        num=0;
        time.innerText=num;
        if(--num >0)
        {
            setTimeout("playSec("+num+")",1000);    //设置定时器，一秒后调用playSec()函数
        }else
        {
            window.location.href='../login/login';
        }
    }
}

playSec(3);
</script>

</body>
</html>
